body{
	background-color: #660000;
}

img{
	max-width: 100%;
	margin: 10px;
	border: 1px solid black;
}

.jumbotron{
	background-color: #660000;
	font-size: 50px;
	color: white;
	background-color: #660000;
}

.small-head{
	text-align: center;
}

.row{
	text-align: center;
	background-color: white;
	padding: 20px;
	margin: 10px;
	font-size: 30px;
	color: maroon;
	text-shadow: 1px 1px black;

}